  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial;
      gap: 20px;
      background: #111;
      color: #fff;
      margin: 0;
  }

  #main-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      padding: 20px;
  }

  #overlay {
      flex: 1;
      padding: 20px;
  }

  .alert-box {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 2px;
      padding: 0 15px;
      margin-bottom: 10px;
      transition: all 0.3s ease;
      background: rgba(0, 0, 0, 1);
      width: 400px;
      height: 60px;
  }

  .text-container {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 16px;
  }

  .image-container video {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
  }

  .banner-left {
      display: flex;
      flex-direction: column;
      gap: 5px;
  }

  .right-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 4px;
  }

  .right-container .progress-text{
      font-size: 12px;
  }

  #amount-container {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 3px solid #f0d90c;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f0d90c;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px #f0d90c;
  }

  #progress-container {
      width: 100px;
      height: 12px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      overflow: hidden;
      display: none;
  }

  #progress-bar {
      height: 100%;
      width: 0%;
      border-radius: 6px;
      background: #f0d90c;
      transition: width 0.5s;
  }

  #progress-text {
      font-size: 10px;
      color: #f0d90c;
      text-align: center;
      font-weight: bold;
  }

  #config-panel {
      flex: 1;
      background: #1c1c1c;
      padding: 0 15px;
      border-radius: 10px;
      max-height: 95vh;
      overflow-y: auto;
  }

  .saveButton {
      margin-top: 20px;
  }

  .config-field {
      display: flex;
      width: 400px;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;
  }

  .config-field label {
      flex: 1;
      margin-right: 10px;
      font-size: 12px;
      font-weight: bold;
  }

  .config-field input,
  .config-field textarea {
      flex: 1;
      max-width: 200px;
      padding: 4px 8px;
      border: 1px solid #444;
      border-radius: 5px;
      background: #222;
      color: #fff;
  }

  textarea {
      resize: vertical;
  }

  #event-configs {
      width: 400px;
  }